@charset 'utf-8';
@import url('reset.css');

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

header{
    position: fixed;
    top:0; left:0; width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    padding: 50px 150px;
    z-index: 100;
}
header.sticky{
    /* padding: 15px 130px; */
    background: rgba(255,255,255,0.3);
}
header .logo{
    /* position: relative; */
    font-weight: 700;
    color: #fff;
    text-decoration: none;
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.6s;
}

header ul{
    /* position: relative; */
}

header ul li {
    /* position: relative; */
    list-style: none;
}

header ul li a
{
    /* position: relative; */
    margin: 0 15px;
    text-decoration: none;
    color: white;
    letter-spacing: 2px;
    font-weight: 600px;
    transition: 0.6s;
    font-size: 26px;
    text-shadow: 0 4px 4px rgba(0,0,0, 0.5);
}

.main_img{
    position: relative;
    width: 100%;
    height: 100vh;
    background: url(../images/uniqlo_main.jpg);
    background-size: cover;
    background-position: center;
}
header.sticky .logo,
header.sticky ul li a {
    color: rgba(255,255,255, 0.9);
}
header .nav_icons{
    color: white;
    font-size: 24px;
}